.contact-us {
  color: white;
  background-color: rgb(39, 39, 39) !important;
}

.contact-us::placeholder {
  color: white;
}

.form-control {
  height: 50px;
  background-color: #484848;
  color: white;
  border: none;
}

.form-control::placeholder {
  color: white;
  font-family: monospace;
}

span {
  color: white;
  font-weight: 600;
  font-size: 25px;
}
.leftHalf {
  margin-left: 5rem;
}

@media screen and (max-width: 500px) {
  .leftHalf {
    margin-left: 3rem;
  }
}
