.masthead {
  background-size: cover;
  min-height: 60vh;
  background-color: rgb(0, 0, 0);
  height: 80vh;
}
#bouncing_logo {
  animation: animate 5s linear infinite;
}
#bouncing_logo_mob {
  animation: animate_mob 5s linear infinite;
}
#main_text {
  border-left: solid rgb(190, 30, 30) 10px;
  animation: slide 1s 0.2s ease;
}
@media screen and (max-width: 1258px) {
  #main_text {
    border: 0px;
    padding-left: 2rem;
  }
  #bouncing_logo {
    display: block;
  }
}

@keyframes slide {
  0% {
    transform: translatex(-200px);
  }

  100% {
    transform: translatex(0px);
  }
}
/* @keyframes animate_mob {
    0%,100%{
        transform: translateY(5px);
    }
    50%{
        transform: translateY(-5px);
    }
} */
@keyframes animate {
  0%,
  100% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(-50px);
  }
}
@keyframes animate_mob {
  0%,
  100% {
    transform: translateY(75px);
  }
  50% {
    transform: translateY(0px);
  }
}

.lg_up_events {
  height: 100px;
  background: linear-gradient(to top, rgb(5, 5, 5), rgb(0, 0, 0));
}
